# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/build/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
coverage.html

# Dependency directories (remove if using Go modules)
vendor/

# Environment variables
.env
.env.local

# Output of terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars


# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# AWS related
.aws/

# Local DynamoDB data
.dynamodb/
dynamodb-data/

# Local MinIO data
minio-data/

# Temporary files
tmp/
.tmp/
*.tmp

# Go workspace file
go.work
go.work.sum

# env file
*/*.env

# VS Code files
.vscode/

# Build files
build/

# compiled binaries
main

# MacOS
.DS_Store